.top {
    background-color:#000099;
    color:antiquewhite;
    font-family: monospace;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:black;
}


.CHPort {
    background-color:#ff6666;
    color:antiquewhite;
    margin: 5px 0px 0px 5px;
    padding: 10px 15px 10px 15px;
}

.CHPort2 {
    background-color:#ff6666;
    color:antiquewhite;
    margin:5px 0px 0px 5px;
    padding: 10px 15px 10px 15px;
    
}

.list 1 
  {border: 2px black solid;}
    
