body{background-color: rgb(196, 223, 181);}

h1{color: white;}

table{border: 2px black solid;}
table{margin: 100px;}

th{color:lightgray}
th{border: 2px black solid;}
th{padding: 10px;}

td{border: 2px black solid;}
td{padding: 10px;}

h5{text-align: center;}

.QUINTFOLIO{font-size: xxx-large;}

.Jon{text-align: center; color: white; font-size: large;}

.Bio{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
}

.portholder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 335px;
}

.header{
    text-align: center;
    color: rgb(255, 255, 255);
    
}

.links{
    text-align: center;
    color: black;
}

.Smallsize{
    width: 400px;
    height: 540px;
}

.Smallersize{
    width: 259px;
    height: 350px;
}

.artpiece{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
}

.subtext{
    text-align: center; justify-content: center;
    font-size: large;
    color: black;
}

.resume{
    height: 1100px;
    width: 850px;
}

.Website:hover {
    color: red;
  }

.black{
    color: black;
}
